@import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Для Safari и Chrome */
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
    scrollbar-width: none; /* Для Firefox */
}

#datePicker {
    @apply   w-full rounded-md border-0 py-1.5 pr-14 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ;
}
